<section class="about">
    {{about}}
<section>
<section class="prerequisites">
    {{prerequisites|default("", true)}}
</section>
<section class="course-staff">
    {{staff|default("", true)}}
</section>
<section class="faq">
    {{faq|default("", true)}}
</section>
